.div_1 {
    background-color: aquamarine;
    width: 15%;
    height: 15%;

}


.boton_1 {
    cursor: pointer;
    background-color: red;

    /*width: fit-content;*/
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 1;
    top: 0px;

}

.overlay {
    /*position: absolute;*/
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    background-color: #1CB698;

    transition: 2s;
}

.boton_1:hover .overlay {
    width: 100%;
}